<%- partial('./partials/header.ejs') %>
<% let from_tft_team = false;
try {
  if (user && user.email) {
    let userDomain = user.email.split('@').pop();

    from_tft_team = userDomain === 'triforcetokens.io';

  }
}catch(_ex){}

const totalTokens = Number(_.isObject(txns) && txns.totalTFTs ? txns.totalTFTs : 0);

if(typeof isWlAdded === 'boolean'){
%>
<script>window.isWlAdded = <%= isWlAdded %></script>
<% } %>



<div class="">

	<div class="container">
    <div id="r-msg"></div>
		<div class="pull-left currency-symbol">
			<img class="currency-ticker-symbol" src="/images/force-currency-symbol-white.png" alt="FORCE" /> <span><%= totalTokens.toLocaleString(2) %> FORCE</span>
		</div>
		<div class="pull-right logout-link">
			<a class="white-link" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
		</div>
	</div>

	<div class="container contributor-body highlight-msg">

		<% if(flash.has('errors')){ %>
		<div class="alert alert-danger">
		  <% flash.get('errors').forEach(function (message) { %>
		  <p class="error"><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%= message %></p>
		  <% }); %>
		</div>
		<% } %>
		<% if(flash.has('success')){ %>
		<div class="alert alert-success">
		  <% flash.get('success').forEach(function (message) { %>
		  <p class="error"><i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%= message %></p>
		  <% }) %>
		</div>
		<% } %>


		<ul class="nav nav-tabs nav-tabs-responsive" role="tablist">
			<li role="presentation" class="active"><a href="#nav-home" aria-controls="nav-home" role="tab" data-toggle="tab"><%- __('Buy FORCE Tokens') %></a></li>
			<li role="presentation" class="next"><a href="#nav-transactions" aria-controls="transactions" role="tab" data-toggle="tab"><span class="text"><%- __('Your Purchases') %></span></a></li>
			<li role="presentation"><a href="#nav-wallet" aria-controls="wallet" role="tab" data-toggle="tab"><span class="text"><%- __('Your Ether Wallet') %></span></a></li>
			<li role="presentation"><a href="#nav-howto" aria-controls="nav-howto" role="tab" data-toggle="tab"><span class="text"><%- __('How To Guides') %></span></a></li>
			<li role="presentation"><a href="#nav-support" aria-controls="nav-support" role="tab" data-toggle="tab"><span class="text"><%- __('Support') %></span></a></li>
			<li class="pull-right"><h4><span class="xs-hide"><%- __('KYC Application:') %></span>
				<% if(user.approvalStatus == 'CLEARED' || user.approvalStatus == 'ACCEPTED'){ %>
					<span class="whitelist-status"><%- __('APPROVED') %> <i class="fa fa-check green"></i></span>
				<% }else if(user.approvalStatus == 'REJECTED'){ %>
					<span class="whitelist-status-rejected"><%- __('REJECTED') %> <i class="fa fa-times"></i></span>
				<% }else{ %>
					<span class="whitelist-status-pending"><%- __('PENDING...') %> </span>
				<% } %></h4></li>
		</ul>


		<div class="tab-content" id="nav-tabContent">

			<div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


				

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="alert alert-info">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<strong><p>To ensure that you successfully purchase FORCE tokens, check the following:</p>
									<ul>
										<li>The minimum amount to send is 0.1ETH</li>
										<li>Recommended GAS: 300000</li>
										<li>Recommended GWEI: 4+</li>
									</ul></strong>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<strong><p>Copy and paste these settings to add FORCE custom token into MEW or MetaMask:</p>
									<ul>
										<li>Contract Address: 0x794eb1f985f472c0b44c4041b4198478366f9940</li>
										<li>Symbol: FORCE</li>
										<li>Decimals: 18</li>
									</ul></strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h3>Token Sale is now CLOSED</h3>
						
						<p>Thank you to everyone that contributed to our token sale.</p>
						<p>We are now planning for the main sale which will start with a 20&percnt; bonus.</p>
					</div>
				</div>



			</div>


			<div class="tab-pane fade" id="nav-wallet" role="tabpanel" aria-labelledby="nav-wallet-tab">

				<h2><%- __('Wallet Address') %></h2>

				<% if(user.approvalStatus != 'CLEARED' && user.approvalStatus != 'ACCEPTED' && user.approvalStatus != 'PENDING'){ %>
				<% }else{ %>

				<div class="alert alert-info"><p><%- __('It is important that you do not enter a wallet address from an exchange like coinbase, poloniex or bittrex. We recommend using MyEtherWallet or other wallets that you have the private key to and are ERC-20 compatible.') %></p></div>


				<% if(_.isString(user.whitelistEthAddress) && user.whitelistEthAddress.length > 0){ %>
				<p><strong><%- __('Your whitelisted wallet address is currently set to:') %></strong></p>
				<pre><%= user.whitelistEthAddress %></pre>
				<br />
				<p><strong><%- __('You can change this wallet address in the form below:') %></strong></p>
				<% }else{ %>
				<p><strong><%- __('Please enter your Ethereum wallet address to receive your FORCE tokens below.') %></strong></p>
				<% } %>


				<form method="post">
					<div class="form-group">
						<input class="form-control ether_address" type="text" name="ether_address"  etherAddressInput="0" placeholder="<%- __('Enter Your Ethereum Address') %>">
					</div>
					<button class="btn btn-success" type="button" onclick="contribute.requestAddressChange(this)" etherAddressInput="0" ><%- __('Save Wallet Address') %></button>
				</form>

				<% } %>

			</div>



			<div class="tab-pane fade" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">


				<h2><%- __('Transactions') %></h2>

				<p><%- __('Please allow up to an hour for your contributions to appear below once sent.') %></p>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th><%- __('Amount') %></th>
							<th><%- __('Date') %></th>
							<th><%- __('Estimated FORCE') %></th>
							<th><%- __('Bonus FORCE') %></th>
							<th><%- __('Total FORCE') %></th>
						</tr>
					</thead>
					<tbody>
						<% if(totalTokens < 1){ %>
								<tr>
									<td colspan="5"><%- __('No contributions received yet.') %></td>
								<tr>
						<% }else{

              const {r1txns, r2txns} = txns;


            if(_.isArray(r2txns.transactions)) {
              for(let txn of r2txns.transactions){ %>
            <tr>
              <td>ETH <%= Number(txn.ethContribution).toFixed(2) %></td>
              <td><%= moment(txn.createdAt).calendar() %></td>
              <td><%= Number(txn.forceBoughtFrmtd).toFixed(2) %></td>
              <td><%= Number(Number(txn.forceEarnedFrmtd) - Number(txn.forceBoughtFrmtd)).toFixed(2) %></td>
              <td><a target="_blank" href="https://etherscan.io/tx/<%= txn.transactionHash %>"><%= Number(txn.forceEarnedFrmtd).toFixed(2) %></a></td>
            </tr>
            <% } }


            if(_.isArray(r1txns.transactions) && r1txns.transactions.length) {%>
              <tr><td colspan="5" style="text-align:center">PRE-ICO CONTRIBUTIONS <strong>WITH SPECIAL DISCOUNT</strong>
                <br>
                <small>*All contributions are converted to ETH equivalent based on market rate at the time of transaction</small>
                </td></tr>
              <% for(let txn of r1txns.transactions){ %>
                <tr>
                  <td>ETH* <%= Number(txn.inEth).toFixed(2) %></td>
                  <td><%= moment(txn.createdAt).calendar() %></td>
                  <td><%= Number(Number(txn.forceEarned) - Number(txn.forceBonus)).toFixed(2) %></td>
                  <td><%= Number(txn.forceBonus).toFixed(2) %></td>
                  <td><%= Number(txn.forceEarned).toFixed(2) %></td>
                </tr>
                <% } }

          %>

					<% } %>
					</tbody>
				</table>
			</div>


			<div class="tab-pane fade" id="nav-howto" role="tabpanel" aria-labelledby="nav-howto-tab">

				<h2><%- __('How To Guides') %></h2>

				<br />
				<p><%- __('How to purchase guide:') %> <br /><a target="_BLANK" href="https://docs.google.com/document/d/1mEdDvIR5GSFPqZ0nvmpz6ZvvVZWkr4XOe7ww0NFWQrI/edit?usp=sharing">https://docs.google.com/document/d/1mEdDvIR5GSFPqZ0nvmpz6ZvvVZWkr4XOe7ww0NFWQrI/edit?usp=sharing</a></p>
				<p><%- __('Using MyEtherWallet:') %> <br /><a target="_BLANK" href="https://docs.google.com/document/d/1BriLzrcOOloLyUcqeUr0ZpZhGXkYJc3OejKh99Tzfew/edit?usp=sharing">https://docs.google.com/document/d/1BriLzrcOOloLyUcqeUr0ZpZhGXkYJc3OejKh99Tzfew/edit?usp=sharing</a></p>

			</div>


			<div class="tab-pane fade" id="nav-support" role="tabpanel" aria-labelledby="nav-support-tab">

				<h2><%- __('Support') %></h2>

				<br />
				<p><%- __('If you require any support or questions you can reach us on telegram or bitcointalk at the links below:') %></p>

				<br />

				<a class="" href="https://t.me/triforcetokens">Telegram</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="" href="https://bitcointalk.org/index.php?topic=2222731">Bitcointalk.org</a>

				<br />
				<br />
				<p><%- __('Or alternatively if we are available in the live chat box below. Please click the large green icon in the bottom right of this screen.') %></p>

			</div>
		</div>


		<div id="force-contributor-content"></div>
	</div>

</div>



<input id="kycProgress" value="<% if(user.approvalStatus != 'CLEARED' && user.approvalStatus != 'ACCEPTED' && (!user.documentId || user.documentId == '' || user.documentId == null)){ %>false<% }else{ %>true<% } %>" type="hidden" />

<!-- Modal -->
<div class="modal fade" id="completeKycModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body highlight-msg">

				<div style="display:none;" class="loading-window">
					<span>Processing Please Wait...</span>
					<div class="loading">Loading&#8230;</div>
				</div>

				<div id="scroll-to-warning-message" class="warning-message"></div>

				<div id="completeKycIntro" class="complete-kyc-intro">
					<h2><%- __('Welcome! You\'re nearly there...') %></h2>
					<br />
					<p><%- __('To be able to buy FORCE, there is just one last step to complete.') %></p>

					<ul>
						<li><%- __('Upload a photocard ID') %></li>
						<li><%- __('Upload a clear selfie image') %></li>
					</ul>

					<p><%- __('This is the final check as part of a legal requirement for token sales.') %></p>

					<br />
					<button id="kyc-step-2" class="btn btn-lg btn-block btn-success" name=""><%- __('Continue') %> &raquo;</button>
					<br />
					<p><small><i class="fa fa-lock"></i> &nbsp;<%- __('Your data is protected as we use world class Cynopsis Solutions as our service provider.') %></small></p>
				</div>


				<form id="finalKycForm" action="" enctype="multipart/form-data" method="POST">

				<div id="kycDocumentUploadSection" class="upload-document-id-form" style="display:none;">
					<h3>Upload photocard ID</h3>

					<p><%- __('Please make sure you have one of the following forms of ID available:') %></p>

					<ul class="enhance-list">
						<li><%- __('Passport') %></li>
						<li><%- __('National ID card') %></li>
						<li><%- __('Drivers Licence') %></li>
					</ul>

					<br />

					<p><strong><%- __('Acceptable file types are: .jpeg, .jpg, .png and .gif only. Do not upload PDF files.') %></strong></p>
					<p><strong><%- __('Please ensure the details on the card are clear and fully visible.') %></strong></p>

					<img class="img img-responsive center-block" src="/images/diagrams/scanned-id-correct.png" alt="" />

					<br />

					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">1) <%- __('Upload Photo ID Document') %></label>
						<div class="col-sm-10">

							<label><%- __('Upload scanned/photo of ID card only') %></label>
							<input type="file" required="required" name="uploadDocument" id="inputDocument" class="fileUpload" />

							<small class="form-text text-muted form-input-note"><strong><%- __('Upload either: Your Passport, National ID card, Drivers Licence') %><br />
							<%- __('Max. upload file size is 4MB') %></strong></small>
						</div>
					</div>
					<br />
					<button id="kyc-step-3" type="button" class="btn btn-lg btn-block btn-success" name=""><%- __('Continue') %> &raquo;</button>
					<br />
				</div>

				<div id="kycSelfieUploadSection" class="upload-selfie-form" style="display:none;">
					<h3><%- __('Upload Selfie, Final Step!') %></h3>

					<p><%- __('When uploading your selfie, please ensure your face is clear and fully visible.') %></p>

					<img class="img img-responsive center-block" src="/images/diagrams/take-selfie-clear.png" alt="" />


					<br />

					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">2) <%- __('Upload Selfie') %></label>
						<div class="col-sm-10">

							<label><%- __('Upload selfie photo') %></label>
							<input type="file" required="required" name="uploadSelfie" id="inputSelfie" class="fileUpload" />

							<small class="form-text text-muted form-input-note"><strong><%- __('Upload a picture of yourself.') %><br />
							<%- __('Make sure your face is fully visible and clear.<br /> Max. upload file size is 4MB') %></strong></small>
						</div>
					</div>

					<br />
					<button id="kyc-complete" type="button" class="btn btn-lg btn-block btn-success" name=""><%- __('Finish') %> &raquo;</button>
					<br />
				</div>

				</form>


				<div id="kycSuccessSection" style="display:none;">
					<h3><%- __('Success! You have been approved') %></h3>
					<img src="/images/big-success-banner.png" alt="" />
					<p>You will now be able to buy some of the limited available supply of FORCE tokens on 12:30pm UTC on 20th February.</p>
					<br />
					<button data-dismiss="modal" class="btn btn-lg btn-block btn-success" name=""><%- __('Close') %> &raquo;</button>
					<br />
				</div>

				<div id="kycRejectedSection" style="display:none;">
					<h3><%- __('Hmm.. your KYC came back as rejected') %></h3>
					<p>Unfortunately due to the information provided we are unable to accept you as a contributor in our token sale.</p>
					<br />
					<button data-dismiss="modal" class="btn btn-lg btn-block btn-success" name=""><%- __('Close') %> &raquo;</button>
					<br />
				</div>

				<div id="kycPendingSection" style="display:none;">
					<h3><%- __('Manual Review Required') %></h3>
					<p>Don't panic, in some cases the automated face matching technology fails to detect legitimate matches of selfie and photocard ID.</p>
					<p>Our team are likely already on the case and will perform a manual approval for you.</p>
					<p>Sit tight, we will get you approved as soon as possible.</p>
					<br />
					<button data-dismiss="modal" class="btn btn-lg btn-block btn-success" name=""><%- __('Close') %> &raquo;</button>
					<br />
				</div>

			</div>
		</div>
	</div>
</div>


<input type="hidden" id="sessionToken" type="text" name="sessionToken" value="<%= req.session.token %>" />
