<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
    <article class="container text-center mid-blocks">
		<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1" data-wow-delay="0.4s">
			<h1 class="wow fadeIn" data-wow-delay="0.1s"><%- __("Great, you have reserved your seat for the closed beta launch!") %></h1>
		</div>
	</article>
</section>

<main class="container">
	<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 wow fadeIn" data-wow-delay="0.4s">
		
		<br />
		<br />
		<p><%- __("You will receive further intructions on how to enter each contest for winning the large prizes by email.") %></p>
		
		<p><%- __("The full launch date is expected to be on <strong>Monday 7th May 2018</strong>") %></p>
		
		<p><%- __("For now, make sure you follow us on <a href=\"https://www.facebook.com/groups/RaidPartyEU/\">Facebook</a> so you don't miss out!") %></p>
		
		<br />
		
		<a class="btn btn-cta btn-lg btn-block" href="/"><%- __("Back to Home Page") %></a>
		
	</div>
	
</main>

<%- partial('./partials/footer.ejs') %>
