<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
    <article class="container text-center mid-blocks">
		<h1 class="wow fadeIn" data-wow-delay="0.1s"><%- __("Check out the latest <span>winners</span> <br />simply for playing <span>great games</span>") %></h1>
	</article>
</section>

<main>
	<article class="container text-center mid-blocks">
		<br /><br />
		<h2 class="dark-title"><%- __("We've only just launched and are waiting to select prize winners") %></h2>
		<br />
		<br />
		<p><%- __("Would you like to be one of the first players to win our massive ETH jackpot prizes?") %></p>
		
		<br />
		<br />
		<p><a class="btn btn-cta btn-success" href="/join"><%- __("Yes, Enter Prize Draw") %> &raquo;</a></p>
	</article>
</main>


<%- partial('./partials/footer.ejs') %>
